@import "../../App.scss";

.admin{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 20px;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font: 100% $font-text;

}