.addPost-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;


    form {
        margin: 1vh;
        display: flex;
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }
}

input {
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 5px;
}