.post {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 10px;
    gap: 10px;
    width: 100%;

}

span {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.addComment {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.botons{
    display: flex;
    align-content: center;
    gap: 10px;
}