.post {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: row;
    margin: 10px;
    margin-bottom: 10px;
    gap: 10px;
    width: 100%;

}

span {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.addComment {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 20px;
}