@import "../../App.scss";


.navbar {
    display: flex;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
    background-color: $background-2;
    font: 100% $font-text;
    color: $color-text;
}