@import "//db.onlinewebfonts.com/c/23255fa3ff7a89589800cea3092f154f?family=NB+International";

@font-face {
  font-family: newYork;
}



$font-text: "NB International";
$font-text-styled: "newYork";

$color-text: #47311d;

$background-1: white;
$background-2: #f2ece8;
$background-3: #f3f0ee;

Body {
  background: $background-1;
}

