@import "//db.onlinewebfonts.com/c/23255fa3ff7a89589800cea3092f154f?family=NB+International";

@font-face {
  font-family: newYork;
}

$font-text: "NB International";
$font-text-styled: "newYork";

$color-text: white;

$background:url(../src/assets/52841777-blanc-et-noir-moroccan-modèle-zellige-mosaïque-illustration-vectorielle.webp);
$background-2: rgb(97, 187, 248);

Body {
  $background-position: center;
  $background-size: cover;
  $background-attachment: contain;
  $background:url(../src/assets/52841777-blanc-et-noir-moroccan-modèle-zellige-mosaïque-illustration-vectorielle.webp);
}

